<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    
    <title>Admin Page</title>

    
</head>
<body style="background-color: black; color: blanchedalmond;">

    <div class="container mb-5 mt-5 " >

        <div class="row mb-5" id="genre-div">
                <div class="col-md-6">
                    <h4>Insert a genre to database</h4>
                </div>
                <div class="col-md-6">
                        <input
                        type="text"
                        class="form-control text-dark mb-4"
                        id="input-genre-to-insert"
                        placeholder="Enter genre"
                      />
                      <button type="submit" class="btn btn-danger mx-auto " id="insert-genre">
                            insert
                      </button>
                </div>
                
        </div>
        <div class="row mb-5">
                <div class="col-md-6">
                    <h4>Delete a genre from database</h4>
                </div>
                <div class="col-md-6">
                       <select id="select-genre-to-delete" class="browser-default custom-select custom-select-sm mb-3">
                         <!-- <option></option>
                         <option></option> -->
                       </select>
                      <button type="submit" class="btn btn-danger mx-auto " id="delete-genre">
                            delete
                      </button>
                </div>
        </div>

        <div class="row">
            <h3>Comments</h3>
            <div class="table-responsive">
              <table class="table text-white text-center " id="comments_table">
                <thead>
                  <tr>
                    <th>from</th>
                    <th>text</th>
                    <th>check</th>
                  </tr>
                </thead>

                <tbody>
                  
                  
                </tbody>
              </table>
            </div>
          
          
        </div>
        
    </div>
    <script src="uiAdmin.js"></script>
    <script src="adminApp.js"></script>
    
    
</body>
</html>